* {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #222831;
  font-family: 'Inter', sans-serif;

  /*no blue border on mobile :)*/
  -webkit-tap-highlight-color: transparent;
  outline: none;
}


@tailwind base;
@tailwind components;
@tailwind utilities;