.HoverCursor {
  cursor: pointer;
  transition: 300ms all;
}





.seeMore {
  color: #bfbfbf;

  &:hover {
    color: #f2f2f2;
  }
}






.FooterItemIcon {
  transition: 300ms all;

  &:hover {
    background-color: #bfbfbf;
    transform: scale(1.05);
  
    img.HoverCursor {
      background-color: #bfbfbf;
    }
  }
}

