$white: #F2F2F2;
$lgrey: #D9D9D9;
$mgrey: #BFBFBF;
$dgrey: #5A6473;
$black: #222831;





@mixin telaCell {
  @media ( max-width: 767px ) {
    @content;
  }
}



.HoverCursor {
  cursor: pointer;
  transition: 300ms all;
}

.seeMore {
  color: $mgrey;

  &:hover {
    color: $white;
  }
}



.CarrouselCard:hover {
  transform: scale(1.02);
  box-shadow: 20px 20px $dgrey;
  border-color: $white;
}



.FooterItemIcon {
  transition: 300ms all;

  &:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px $dgrey;
    border-color: $white;


    @include telaCell() {
      box-shadow: 0px 0px transparent;
      background-color: $dgrey;


      img.HoverCursor {
        background-color: $dgrey;
      }
    }
  }
}



.button {

  * {
    background-color: transparent;
  } 
  &:hover {
    background-color: $dgrey;
    transform: scale(1.05);
  }
}