$white: #f2f2f2;
$lgrey: #d9d9d9;
$mgrey: #bfbfbf;




.linkText {
  background-color: transparent;
  text-decoration: underline $mgrey;
  color: $lgrey;

  &:hover {
    color: $white;
    text-decoration: underline $white;
  }
}