$black: #222831;
$dgrey: #5A6473;
$mgrey: #BFBFBF;
$lgrey: #BFBFBF;
$white: #F2F2F2;



@mixin telaCell {
  @media ( max-width: 767px ) {
    @content;
  }
}



.swiper-button {
  &-prev, &-next {
    color: $dgrey !important;
    background-color: transparent;

    &:hover, &:active {
      color: $white !important;
    }

    @include telaCell {
      color: $white  !important;
      background-color: transparent;
    }
  }
}




.swiper-pagination {
  background-color: transparent !important;
}


.swiper-pagination-bullet {
  background-color: $dgrey !important;
  opacity: 0.7 !important;

  &-active {
    background-color: $white !important;
    opacity: 1 !important;
  }
}